<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F5E86FA1E83F4C50068EA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5E870E1E83F4C50068EA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5E87191E83F4C50068EA5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
